/* Definição da cor do background */
body {
    background-color: hsl(225, 100%, 94%);
    background-image: url("imagens/imagem_background_ilustração.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    font-family: 'Red Hat Display', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilização dos textos */
main {
    width: 90%;
    max-width: 350px;
    margin: 50px auto;
    background-color: hsl(225, 100%, 98%);
    padding: 20px;
    padding-bottom: 30px;
    border-radius: 15px;
    text-align: center;
}

/* Estilização da imagem principal */
main > img {
    max-width: none;
    width: calc(100% + 40px);
    margin: -20px -20px 0 -20px;
    border-radius: 15px 15px 0 0;
}

/* Tamanho do Título principal */
h1 {
    font-size: 24px;
    font-weight: 900;
    margin-top: 35px;
    color: hsl(223, 47%, 23%);
}


p{
    font-size: 15px;
    line-height: 1.4;
    max-width: 350px;
    margin: 0 auto;
    margin-top: 10px;
    color: hsl(224, 23%, 55%);
}

/* Estilização do conteiner inferior */
.tipo_plano {
    background-color: hsl(225, 100%, 94%);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 10px;
    border-radius: 10px;
    width: 90%;
    margin: 25px auto 0;
}

/* Estilização da imagem de nota musical */

.icone_padrao {
    background-color: hsl(225, 100%, 98%);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icone_padrao img {
    width: 20px;
}

/* Estilização das informações do plano */
.informacoes_plano h2 {
    font-size: 15px;
    font-weight: 900;
    color: hsl(223, 47%, 23%);
    margin: 0;
    margin-left: 15px;
}

.informacoes_plano p {
    font-size: 15px;
    font-weight: 700;
    color: hsl(224, 23%, 55%);
    margin: 0;
    margin-top: 3px;
    margin-left: 15px;
}

.tipo_plano button {
    font-size: 14px;
    color: hsl(245, 75%, 52%);
    background: none;
    border: none;
    font-weight: 700;
    text-decoration: underline;
    margin-left: auto;
}

main > button {
    width: 95%;
    background-color: hsl(245, 75%, 52%);
    border: none;
    color: white;
    padding: 12px;
    border-radius: 12px;
    margin-top: 25px;
    font-size: 16px;
    font-weight: 700;
}

.cancelar {
    background: none;
    border: none;
    color: hsl(224, 23%, 55%);
    margin-top: 15px;
    margin-bottom: 2px;
    font-size: 14px;
}


/* Hover dos botões */

.pagamento {
    box-shadow: 0 5px 10px rgba(56, 41, 224, 0.2);
}
.pagamento:hover {
    background-color: hsl(245, 75%, 60%);
}

.alterar:hover {
    color: hsl(245, 75%, 40%);
}

.cancelar:hover {
    color: hsl(223, 47%, 23%);
}